# Global owner for all files
* @fed-tech

# Reviewers for directories
.github/ @AnshRaj112 @shing1Sks @GuinAditi @rudrika08 @fed-tech
src/ @AnshRaj112 @shing1Sks @GuinAditi @rudrika08 @fed-tech

# Reviewers for specific file types
*.scss @AnshRaj112 @shing1Sks @GuinAditi @rudrika08 @fed-tech
*.jsx  @AnshRaj112 @shing1Sks @GuinAditi @rudrika08 @fed-tech
*.json @AnshRaj112 @shing1Sks @GuinAditi @rudrika08 @fed-tech
PROJECT_STRUCTURE.md @AnshRaj112 @shing1Sks @GuinAditi @rudrika08 @fed-tech
README.md @AnshRaj112 @shing1Sks @GuinAditi @rudrika08 @fed-tech
index.html @AnshRaj112 @shing1Sks @GuinAditi @rudrika08 @fed-tech
vercel.json @AnshRaj112 @shing1Sks @GuinAditi @rudrika08 @fed-tech
vite.config.js @AnshRaj112 @shing1Sks @GuinAditi @rudrika08 @fed-tech


