.fedCard {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  height: auto;
  margin: 0 auto 32px auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0;

  &__headerCover {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 24px 24px;
    display: block;
    background: #201f1f;
  }

  &__logoWrap {
    position: absolute;
    top: 100px;
    left: 20%;
    transform: translateX(-50%);
    width: 96px;
    height: 96px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    z-index: 2;

    img {
      width: 82px;
      height: 82px;
      object-fit: contain;
      border-radius: 50%;
      display: block;
    }
  }

  &__body {
    margin-top: 40px;
    padding: 10px 10px 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    @media (max-width: 768px) {
      margin-top: 60px;;
    }
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: -4px;
    color: #222;
    text-align: left;
  }

  &__subtitle {
    font-size: 0.95rem;
    color: #888;
    margin-bottom: 8px;
    text-align: left;
  }

  &__descWrapper {
    max-height: 150px;
    overflow-y: auto;
    padding-right: 5px;
    margin-bottom: -16px;
    width: 100%;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  &__desc {
    font-weight: 500;
    font-size: 0.9rem;
    color: #222;
    line-height: 1.5;
    text-align: left;
  }

  &__knowMoreBtn {
    margin-top: 1rem;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;

    a {
      display: inline-block;
      padding: 6px 14px;
      background: var(
      --Primary,
      linear-gradient(
        260deg,
        rgba(255, 190, 11, 0.84) -29.7%,
        rgba(244, 43, 3, 0.84) 128.34%
      )
    );
      color: #fff;
      border-radius: 16px;
      font-size: 0.88rem;
      font-weight: 600;
      text-decoration: none;
      transition: background 0.3s ease;

      &:hover {
        background-color: #d72a00;
      }
    }
  }
}
